[include LED.cfg] # Common LED macros

[gcode_macro LOAD_FILAMENT]
variable_load_distance:  50
variable_purge_distance:  25
gcode:
    {% set speed = params.SPEED|default(300) %}
    {% set max_velocity = printer.configfile.settings['extruder'].max_extrude_only_velocity  * 60 %}
    status_busy
    SAVE_GCODE_STATE NAME=load_state
    G91
    G92 E0
    G1 E{load_distance} F{max_velocity} # fast-load
    G1 E{purge_distance} F{speed} # purge
    RESTORE_GCODE_STATE NAME=load_state
    status_ready

[gcode_macro UNLOAD_FILAMENT]
variable_unload_distance: 50
variable_purge_distance: 25
gcode:
    {% set speed = params.SPEED|default(300) %}
    {% set max_velocity = printer.configfile.settings['extruder'].max_extrude_only_velocity  * 60 %}
    status_busy
    SAVE_GCODE_STATE NAME=unload_state
    G91
    G92 E0
    G1 E{purge_distance} F{speed} # purge
    G1 E-{unload_distance} F{max_velocity} # fast-unload
    RESTORE_GCODE_STATE NAME=unload_state
    status_ready


[gcode_macro PRINT_START]
gcode:
  {% set target_bed = params.BED|int %}                         # Target bed temperature
  {% set target_extruder = params.EXTRUDER|int %}               # Target nozzle temperature
  {% set x_wait = printer.toolhead.axis_maximum.x|float / 2 %}  # Bed center X
  {% set y_wait = printer.toolhead.axis_maximum.y|float / 2 %}  # Bed center Y
  CLEAR_EXHAUST_TIMER # Just in case the timer is running
  status_homing
  SET_GCODE_OFFSET Z=0                                   # Reset Z offset
  G28 Y
  G28                                                    # Home all axes
  G90                                                    # Set to absolute positioning

  M104 S150                                              # Heat nozzle to soften filament leftovers

  status_heating
  SET_DISPLAY_TEXT MSG="Heating Bed: {target_bed}°C"     # Display bed heating message
  G1 X{x_wait} Y{y_wait} Z15 F9000                       # Move to bed center
  M190 S{target_bed}                                     # Wait for bed to reach target temperature

  status_leveling
  SET_DISPLAY_TEXT MSG="Leveling..."                     # Display leveling message
  Z_TILT_ADJUST                                          # Perform Z tilt adjustment
  G28 Z                                                  # Re-home Z after adjustment
  M109 S150                                              # Ensure nozzle is at 150C, in case it was hot when print started.
  
  status_calibrating_z
  SET_DISPLAY_TEXT MSG="Calibrating Z Offset"            # Display Z offset calibration message
  CARTOGRAPHER_TOUCH_HOME                                # Calibrate Z offset

  status_meshing
  SET_DISPLAY_TEXT MSG="Bed Mesh Calibration"            # Display mesh calibration message
  BED_MESH_CALIBRATE ADAPTIVE=1                          # Perform bed mesh calibration

  status_heating
  SET_DISPLAY_TEXT MSG="Heating Nozzle: {target_extruder}°C" # Display nozzle heating message
  G1 X{x_wait} Y{y_wait} Z15 F9000                       # Move to bed center
  M109 S{target_extruder}                                # Heat nozzle to target temperature

  status_cleaning
  SET_DISPLAY_TEXT MSG="Preparing to Print..."           # Display preparation message
  LINE_PURGE
  status_printing

[gcode_macro PRINT_END]
gcode:
    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
    {% set z_safe = [th.position.z + 2, th.axis_maximum.z]|min %}
    status_busy
    SAVE_GCODE_STATE NAME=STATE_PRINT_END

    M400                           # wait for buffer to clear
    G92 E0                         # zero the extruder
    G10
    
    TURN_OFF_HEATERS
    
    G90                                      # absolute positioning
    G0 X{x_safe} Y{y_safe} Z{z_safe} F20000  # move nozzle to remove stringing
    G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y - 2} F3600  # park nozzle at rear
    M107                                     # turn off fans
    RUN_EXHAUST
    
    BED_MESH_CLEAR

    # The purpose of the SAVE_GCODE_STATE/RESTORE_GCODE_STATE
    # command pair is to restore the printer's coordinate system
    # and speed settings since the commands above change them.
    # However, to prevent any accidental, unintentional toolhead
    # moves when restoring the state, explicitly set MOVE=0.
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END MOVE=0
    status_part_ready

[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
# change this if you need more or less extrusion
variable_extrude: 1.0
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  ##### set park positon for x and y #####
  # default is your max posion from your printer.cfg
  {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
  {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
  ##### calculate save lift position #####
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - 2.0) %}
      {% set z_safe = 2.0 %}
  {% else %}
      {% set z_safe = max_z - act_z %}
  {% endif %}
  ##### end of definitions #####
  PAUSE_BASE
  G91
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G1 E-{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  {% if "xyz" in printer.toolhead.homed_axes %}
    G1 Z{z_safe} F900
    G90
    G1 X{x_park} Y{y_park} F6000
  {% else %}
    {action_respond_info("Printer not homed")}
  {% endif %} 

[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  #### get VELOCITY parameter if specified ####
  {% if 'VELOCITY' in params|upper %}
    {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
  {%else %}
    {% set get_params = "" %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G91
    G1 E{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}  
  RESUME_BASE {get_params}

[gcode_macro CANCEL_PRINT]
# Defines a G-code macro to cancel the actual running print
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
variable_park: True
gcode: 
    G28 Y                                     # Home Y axis
    _TOOLHEAD_PARK_PAUSE_CANCEL               # Call _TOOLHEAD_PARK_PAUSE_CANCEL macro
    TURN_OFF_HEATERS                          # Turn off all heaters
    CANCEL_PRINT_BASE                         # Call CANCEL_PRINT_BASE to cancel print
    M107
    RUN_EXHAUST


[gcode_macro RUN_EXHAUST]
description: Run the exhaust fans for an extra five minutes
gcode:
  M106 P3 S204 
  UPDATE_DELAYED_GCODE GCODE="M107" TAG=exhaust_fan_timer DURATION=300

[gcode_macro CLEAR_EXHAUST_TIMER]
description: Clears the delayed gcode
gcode:
  UPDATE_DELAYED_GCODE GCODE="" TAG=exhaust_fan_timer

